img {
    height: 100%;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.buttons *:hover{
    cursor: pointer;
    color: red;
}
.circleBtns{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.circleBtns *:hover{
    color: red;
    cursor: pointer;
}

.active{
    color: red;
    cursor: pointer;
}

.sliderWrapper{
    height: 600px;
    width: 800px;
    margin: 0 auto;
}

