img {
    height: 100%;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.buttons *:hover{
    cursor: pointer;
    color: red;
}
.slider-controls{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.slider-controls *:hover{
    color: red;
    cursor: pointer;
}

.active{
    color: red;
    cursor: pointer;
}

.sliderWrapper{
    display: flex;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-track{
    display: flex;
    transition: transform 0.3s ease-in-out;
}
